* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(42, 77, 65);
}

.wrapper {
    width: 240px;
    height: 630px;
    background-color: rgb(8, 14, 12);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px 0;
}

.lights {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: relative;
}

.red {
    background-color: red;
    box-shadow: 0 0 20px 10px red;
}

.yellow {
    background-color: yellow;
    box-shadow: 0 0 20px 10px yellow;
}

.green {
    background-color: green;
    box-shadow: 0 0 20px 10px green;
}

.redColor {
    background-color: rgb(175, 41, 41);
}

.yellowColor {
    background-color: rgb(255, 187, 0);
}

.greenColor {
    background-color: rgb(12, 90, 12);
}